@keyframes running-app-animation {
  0% {
    transform: rotate(0turn);
    visibility: visible;
  }

  50% {
    transform: rotate(0.5turn);
    visibility: visible;
  }

  100% {
    transform: rotate(1turn);
    visibility: visible;
  }
}

.running-app-icon {
  width: 45px;
  visibility: hidden;
  animation: running-app-animation 2000ms;
  animation-timing-function: cubic-bezier(0.61, -0.01, 0.47, 0.99);
  animation-iteration-count: infinite;
  animation-delay: 1000ms;
}
