#Disconnected {
  font-family: var(--monospace-font);
  text-align: center;
  font-size: 1rem;
  font-weight: 400;
  color: var(--red-11);
}

@keyframes running-app-animation {
  0% {
    transform: rotate(0turn);
    visibility: visible;
  }

  50% {
    transform: rotate(0.5turn);
    visibility: visible;
  }

  100% {
    transform: rotate(1turn);
    visibility: visible;
  }
}

.running-app-icon {
  width: 45px;
  visibility: hidden;
  animation: running-app-animation 2000ms;
  animation-timing-function: cubic-bezier(0.61, -0.01, 0.47, 0.99);
  animation-iteration-count: infinite;
  animation-delay: 1000ms;
}

.closed-app-icon {
  width: 25px;
  height: 25px;
  color: var(--red-11);
}

.keyboard-shortcut-group {
  margin-bottom: 40px;
}

.keyboard-shortcut {
  /* [shortcut] [auto:whitespace] [description] */
  grid-template-columns: 1fr auto 1fr;
  display: grid;
  align-items: baseline;
}

.keyboard-shortcut span {
  grid-column: 3;
}
