body,
:host {
  font-family: var(--text-font);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  isolation: isolate;
  width: 100%;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

code {
  font-family: var(--monospace-font);
}
