.resize-handle,
.resize-handle-collapsed {
  transition: 250ms linear background-color;
  outline: none;
}

.resize-handle.horizontal,
.resize-handle-collapsed.horizontal {
  height: 4px;
}

.resize-handle.vertical,
.resize-handle-collapsed.vertical {
  width: 4px;
}

.resize-handle:hover,
.resize-handle[data-resize-handle-active],
.resize-handle-collapsed:hover,
.resize-handle-collapsed[data-resize-handle-active] {
  background-color: var(--slate-11);
}
