# dependencies
/node_modules
/.pnp
.pnp.js
.swc
.turbo

# testing
/coverage

# production
/build

# library output
/lib
!/src/lib

# playwright
/test-results/
/playwright-report/
/playwright/.cache/
e2e-tests/screenshots
e2e-tests/exports

# storybook
/storybook-static
