fail_fast: true

repos:
  - repo: https://github.com/abravalheri/validate-pyproject
    rev: v0.19
    hooks:
      - id: validate-pyproject

  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.41.0
    hooks:
      - id: markdownlint-fix
        args: [-c, configs/.markdownlint.yaml, --fix]
        exclude: ^marimo/_tutorials/.*\.md

  - repo: https://github.com/crate-ci/typos
    rev: v1.24.3
    hooks:
      - id: typos

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.6.3
    hooks:
      # Run the linter
      - id: ruff
        args: [--fix]
      # Run the formatter
      - id: ruff-format

  - repo: https://github.com/biomejs/pre-commit
    rev: v0.4.0
    hooks:
      - id: biome-check
        args: [--config-path, biome.json, --diagnostic-level, warn]
        additional_dependencies: ['@biomejs/biome@1.8.3']
        exclude: |
          (?x)^(
            docs/_static/.*|
          )$
