@import url("Header.css");
@import url("Cell.css");
@import url("md.css");
@import url("table.css");
@import url("CodeMirrorSearchPanel.css");

/* stylelint-disable unit-allowed-list */

/* On smaller screens, scale everything down so more fits on the page. */
html {
  font-size: 90%;
}

@media screen and (height >= 1000px) {
  html {
    font-size: 100%;
  }
}
/* stylelint-enable unit-allowed-list */

:root {
  --content-width: 740px;
  --base-shadow: hsl(0deg 0% 85% / 40%);
  --stale-color: hsl(42deg 56% 44% / 25%);
  --light-shadow: 2px 2px 0px 0px var(--base-shadow),
    0px 0px 2px 0px hsl(0deg 0% 25% / 50%);
  --light-shadow-stale: 4px 4px 0px 0px var(--stale-color),
    0px 0px 4px 0px var(--stale-color);
  --light-shadow-error: 4px 4px 0px 0px hsl(var(--error) / 80%),
    0px 0px 2px 0px hsl(var(--error) / 80%);
  --medium-shadow: 4px 4px 0px 0px var(--base-shadow),
    0px 0px 4px 0px hsl(0deg 0% 60% / 50%);
  --medium-shadow-stale: 6px 6px 0px 0px var(--stale-color),
    0px 0px 4px 0px var(--stale-color);
  --medium-shadow-error: 6px 6px 0px 0px hsl(var(--error) / 80%),
    0px 0px 2px 0px hsl(var(--error) / 80%);
  --heavy-shadow: 5px 6px 0px 0px var(--base-shadow),
    0px 0px 4px 0px hsl(0deg 0% 75% / 50%);
  --heavy-shadow-stale: 7px 8px 0px 0px var(--stale-color),
    0px 0px 4px 0px var(--stale-color);
  --heavy-shadow-error: 7px 8px 0px 0px hsl(var(--error) / 80%),
    0px 0px 2px 0px hsl(var(--error) / 80%);
  --monospace-font: "Fira Mono";
  --text-font: "PT Sans", sans-serif;
}

#App {
  position: relative;
  margin: auto;
  z-index: 1;
}

.disconnected-gradient {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  /* gradient sits behind noise. */
  z-index: -2;

  /* Use an image because hard to get consistent result across browsers with
   * css gradients. */
  background-image: url("/gradient.png");
  background-repeat: no-repeat;

  /* Scale gradient with zoom in/out. */
  background-size: cover;
}

.noise {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  background-image: url("/noise.png");
  background-repeat: repeat;
  opacity: 0.5;
}

#App.disconnected {
  background: none;
}

.inactive-button,
.inactive-button:hover,
.inactive-button svg {
  color: var(--gray-7);
  cursor: default;
}
