.cm-editor .cm-panels.cm-panels-bottom {
  border: 1px solid hsl(var(--input) / 20%);
  background-color: hsl(var(--muted));
  border-radius: 14px;
  margin-bottom: 0.5rem;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  box-shadow: var(--shadow-lg);
}

.cm-editor .cm-panel.cm-search {
  font-family: var(--text-font);
  padding: 1rem 2rem 1rem 1rem;
}

.cm-editor .cm-panel.cm-search input[type="checkbox"] {
  vertical-align: middle;
}

.cm-editor .cm-panel.cm-search input.cm-textfield {
  border-radius: 4px;
  box-shadow: var(--shadow-xs-solid);
  border: 1px solid transparent;
  font-size: 0.75rem;
}

.cm-editor .cm-panel.cm-search input.cm-textfield:hover {
  box-shadow: var(--shadow-sm-solid);
}

.cm-editor .cm-panel.cm-search input.cm-textfield:active,
.cm-editor .cm-panel.cm-search input.cm-textfield:focus,
.cm-editor .cm-panel.cm-search input.cm-textfield:focus-visible {
  border: 1px solid hsl(var(--accent));
  outline: none;
}

.cm-editor .cm-panel.cm-search label {
  color: hsl(var(--muted-foreground));
  font-size: 0.75rem;
}

.cm-editor .cm-panel.cm-search button:not([name="close"]) {
  border-radius: calc(var(--radius) - 2px);
  border-color: hsl(var(--input) / 80%);
  box-shadow: var(--shadow-xs-solid);
  background-color: hsl(var(--secondary));
  background-image: none;
  font-size: 0.75rem;
}

.cm-editor .cm-panel.cm-search button:hover:not([name="close"]),
.cm-editor .cm-panel.cm-search button:active:not([name="close"]),
.cm-editor .cm-panel.cm-search button:focus:not([name="close"]),
.cm-editor .cm-panel.cm-search button:focus-visible:not([name="close"]) {
  background-color: hsl(var(--card));
}

.cm-editor .cm-panel.cm-search button:active {
  box-shadow: var(--shadow-xs);
}

.cm-editor .cm-panel.cm-search [name="close"] {
  font-size: 1rem;
  margin-right: 0.25rem;
}
