/*
 * xcode pygments style, edited to look like github prettylights
 *
 *     pygmentize -S xcode -f html -a .codehilite  > codehilite.css
 */

@layer base {
  :root {
    --linenos-special: light-dark(#000, #fff);
    --linenos-special-bg: light-dark(#ffffc0, #303030);
    --codehilite-hll: light-dark(#ffc, #303030);
    --codehilite-c: light-dark(#177500, #88ff70);
    --codehilite-err: light-dark(#000, #f00);
    --codehilite-k: light-dark(#cf222e, #ff5572);
    --codehilite-l: light-dark(#1c01ce, #7289da);
    --codehilite-n: light-dark(#000, #fff);
    --codehilite-o: light-dark(#000, #fff);
    --codehilite-ch: light-dark(#177500, #88ff70);
    --codehilite-cm: light-dark(#177500, #88ff70);
    --codehilite-cp: light-dark(#633820, #ffcc80);
    --codehilite-cpf: light-dark(#177500, #88ff70);
    --codehilite-c1: light-dark(#177500, #88ff70);
    --codehilite-cs: light-dark(#177500, #88ff70);
    --codehilite-kc: light-dark(#a90d91, #ff80bf);
    --codehilite-kd: light-dark(#a90d91, #ff80bf);
    --codehilite-kn: light-dark(#a90d91, #ff80bf);
    --codehilite-kp: light-dark(#a90d91, #ff80bf);
    --codehilite-kr: light-dark(#a90d91, #ff80bf);
    --codehilite-kt: light-dark(#cf222e, #ff5572);
    --codehilite-ld: light-dark(#1c01ce, #7289da);
    --codehilite-m: light-dark(#0550ae, #55a8ff);
    --codehilite-s: light-dark(#0a3069, #5af);
    --codehilite-na: light-dark(#836c28, #ffcc80);
    --codehilite-nb: light-dark(#cf222e, #ff5572);
    --codehilite-nc: light-dark(#8250df, #b39ddb);
    --codehilite-no: light-dark(#000, #fff);
    --codehilite-nd: light-dark(#8250df, #b39ddb);
    --codehilite-ni: light-dark(#000, #fff);
    --codehilite-ne: light-dark(#000, #fff);
    --codehilite-nf: light-dark(#8250df, #b39ddb);
    --codehilite-nl: light-dark(#000, #fff);
    --codehilite-nn: light-dark(#000, #fff);
    --codehilite-nx: light-dark(#000, #fff);
    --codehilite-py: light-dark(#000, #fff);
    --codehilite-nt: light-dark(#8250df, #b39ddb);
    --codehilite-nv: light-dark(#000, #fff);
    --codehilite-ow: light-dark(#000, #fff);
    --codehilite-mb: light-dark(#1c01ce, #7289da);
    --codehilite-mf: light-dark(#1c01ce, #7289da);
    --codehilite-mh: light-dark(#1c01ce, #7289da);
    --codehilite-mi: light-dark(#1c01ce, #7289da);
    --codehilite-mo: light-dark(#1c01ce, #7289da);
    --codehilite-sa: light-dark(#0a3069, #5af);
    --codehilite-sb: light-dark(#0a3069, #5af);
    --codehilite-sc: light-dark(#0a3069, #5af);
    --codehilite-dl: light-dark(#0a3069, #5af);
    --codehilite-sd: light-dark(#0a3069, #5af);
    --codehilite-s2: light-dark(#0a3069, #5af);
    --codehilite-se: light-dark(#0a3069, #5af);
    --codehilite-sh: light-dark(#0a3069, #5af);
    --codehilite-si: light-dark(#0a3069, #5af);
    --codehilite-sx: light-dark(#0a3069, #5af);
    --codehilite-sr: light-dark(#0a3069, #5af);
    --codehilite-s1: light-dark(#0a3069, #5af);
    --codehilite-ss: light-dark(#0a3069, #5af);
    --codehilite-bp: light-dark(#5b269a, #9c4dcc);
    --codehilite-fm: light-dark(#000, #fff);
    --codehilite-vc: light-dark(#000, #fff);
    --codehilite-vg: light-dark(#000, #fff);
    --codehilite-vi: light-dark(#000, #fff);
    --codehilite-vm: light-dark(#000, #fff);
    --codehilite-il: light-dark(#1c01ce, #7289da);
  }
}

pre {
  line-height: 125%;
}

td.linenos .normal {
  color: inherit;
  background-color: transparent;
  padding-left: 5px;
  padding-right: 5px;
}

span.linenos {
  color: inherit;
  background-color: transparent;
  padding-left: 5px;
  padding-right: 5px;
}

td.linenos .special {
  color: var(--linenos-special);
  background-color: var(--linenos-special-bg);
  padding-left: 5px;
  padding-right: 5px;
}

span.linenos.special {
  color: var(--linenos-special);
  background-color: var(--linenos-special-bg);
  padding-left: 5px;
  padding-right: 5px;
}

.codehilite .hll {
  color: var(--codehilite-hll);
}

.codehilite .c {
  color: var(--codehilite-c);
} /* Comment */
.codehilite .err {
  color: var(--codehilite-err);
} /* Error */
.codehilite .k {
  color: var(--codehilite-k);
} /* Keyword */
.codehilite .l {
  color: var(--codehilite-l);
} /* Literal */
.codehilite .n {
  color: var(--codehilite-n);
} /* Name */
.codehilite .o {
  color: var(--codehilite-o);
} /* Operator */
.codehilite .ch {
  color: var(--codehilite-ch);
} /* Comment.Hashbang */
.codehilite .cm {
  color: var(--codehilite-cm);
} /* Comment.Multiline */
.codehilite .cp {
  color: var(--codehilite-cp);
} /* Comment.Preproc */
.codehilite .cpf {
  color: var(--codehilite-cpf);
} /* Comment.PreprocFile */
.codehilite .c1 {
  color: var(--codehilite-c1);
} /* Comment.Single */
.codehilite .cs {
  color: var(--codehilite-cs);
} /* Comment.Special */
.codehilite .kc {
  color: var(--codehilite-kc);
} /* Keyword.Constant */
.codehilite .kd {
  color: var(--codehilite-kd);
} /* Keyword.Declaration */
.codehilite .kn {
  color: var(--codehilite-kn);
} /* Keyword.Namespace */
.codehilite .kp {
  color: var(--codehilite-kp);
} /* Keyword.Pseudo */
.codehilite .kr {
  color: var(--codehilite-kr);
} /* Keyword.Reserved */
.codehilite .kt {
  color: var(--codehilite-kt);
} /* Keyword.Type */
.codehilite .ld {
  color: var(--codehilite-ld);
} /* Literal.Date */
.codehilite .m {
  color: var(--codehilite-m);
} /* Literal.Number */
.codehilite .s {
  color: var(--codehilite-s);
} /* Literal.String */
.codehilite .na {
  color: var(--codehilite-na);
} /* Name.Attribute */
.codehilite .nb {
  color: var(--codehilite-nb);
} /* Name.Builtin */
.codehilite .nc {
  color: var(--codehilite-nc);
} /* Name.Class */
.codehilite .no {
  color: var(--codehilite-no);
} /* Name.Constant */
.codehilite .nd {
  color: var(--codehilite-nd);
} /* Name.Decorator */
.codehilite .ni {
  color: var(--codehilite-ni);
} /* Name.Entity */
.codehilite .ne {
  color: var(--codehilite-ne);
} /* Name.Exception */
.codehilite .nf {
  color: var(--codehilite-nf);
} /* Name.Function */
.codehilite .nl {
  color: var(--codehilite-nl);
} /* Name.Label */
.codehilite .nn {
  color: var(--codehilite-nn);
} /* Name.Namespace */
.codehilite .nx {
  color: var(--codehilite-nx);
} /* Name.Other */
.codehilite .py {
  color: var(--codehilite-py);
} /* Name.Property */
.codehilite .nt {
  color: var(--codehilite-nt);
} /* Name.Tag */
.codehilite .nv {
  color: var(--codehilite-nv);
} /* Name.Variable */
.codehilite .ow {
  color: var(--codehilite-ow);
} /* Operator.Word */
.codehilite .mb {
  color: var(--codehilite-mb);
} /* Literal.Number.Bin */
.codehilite .mf {
  color: var(--codehilite-mf);
} /* Literal.Number.Float */
.codehilite .mh {
  color: var(--codehilite-mh);
} /* Literal.Number.Hex */
.codehilite .mi {
  color: var(--codehilite-mi);
} /* Literal.Number.Integer */
.codehilite .mo {
  color: var(--codehilite-mo);
} /* Literal.Number.Oct */
.codehilite .sa {
  color: var(--codehilite-sa);
} /* Literal.String.Affix */
.codehilite .sb {
  color: var(--codehilite-sb);
} /* Literal.String.Backtick */
.codehilite .sc {
  color: var(--codehilite-sc);
} /* Literal.String.Char */
.codehilite .dl {
  color: var(--codehilite-dl);
} /* Literal.String.Delimiter */
.codehilite .sd {
  color: var(--codehilite-sd);
} /* Literal.String.Doc */
.codehilite .s2 {
  color: var(--codehilite-s2);
} /* Literal.String.Double */
.codehilite .se {
  color: var(--codehilite-se);
} /* Literal.String.Escape */
.codehilite .sh {
  color: var(--codehilite-sh);
} /* Literal.String.Heredoc */
.codehilite .si {
  color: var(--codehilite-si);
} /* Literal.String.Interpol */
.codehilite .sx {
  color: var(--codehilite-sx);
} /* Literal.String.Other */
.codehilite .sr {
  color: var(--codehilite-sr);
} /* Literal.String.Regex */
.codehilite .s1 {
  color: var(--codehilite-s1);
} /* Literal.String.Single */
.codehilite .ss {
  color: var(--codehilite-ss);
} /* Literal.String.Symbol */
.codehilite .bp {
  color: var(--codehilite-bp);
} /* Name.Builtin.Pseudo */
.codehilite .fm {
  color: var(--codehilite-fm);
} /* Name.Function.Magic */
.codehilite .vc {
  color: var(--codehilite-vc);
} /* Name.Variable.Class */
.codehilite .vg {
  color: var(--codehilite-vg);
} /* Name.Variable.Global */
.codehilite .vi {
  color: var(--codehilite-vi);
} /* Name.Variable.Instance */
.codehilite .vm {
  color: var(--codehilite-vm);
} /* Name.Variable.Magic */
.codehilite .il {
  color: var(--codehilite-il);
} /* Literal.Number.Integer.Long */

/* Special formatting for Python traceback */
.stderr .codehilite {
  .highlight {
    /* Chosen to match error coloring in other parts of notebook. */
    color: color-mix(
      in srgb,
      var(--error),
      transparent calc((1 - var(--tw-text-opacity)) * 100%)
    );
  }

  .gt {
    color: color-mix(
      in srgb,
      var(--error),
      transparent calc((1 - var(--tw-text-opacity)) * 100%)
    );
  }

  .nb {
    color: var(--sky-8);
  }

  .m {
    color: var(--sky-11);
  }

  .n {
    color: var(--slate-10);
  }

  .w {
    color: var(--slate-10);
  }

  .o {
    color: var(--slate-10);
  }

  .p {
    color: var(--slate-10);
  }

  .bp {
    color: var(--slate-10);
  }

  .pm {
    color: var(--slate-10);
  }

  .k {
    color: var(--slate-10);
  }

  .x {
    color: var(--red-9);
  }
}
