.light .cm-selectionBackground {
  /* This is the background for selected text when focused,
  but we want to use it when not in focus either because we
  will often lose focus during find/replace or in another editor */
  background-color: #d7d4f0 !important;
}

/* -- Gutters -- */

.cm .cm-gutters {
  @apply bg-background;

  /* Style line numbers. */
  font-size: 0.75rem;
  color: var(--gray-10);
}

.dark .cm .cm-gutters {
  background-color: transparent;
}

.cm-scroller {
  overflow: auto;
}

/* -- Tooltips: code completion and type hints -- */

.cm .cm-tooltip {
  font-size: 0.875rem;
  border: none;
  box-shadow: var(--light-shadow);
  border-radius: 4px;

  @apply bg-popover;
}

/*
 First selector is when there is a tooltip by hover
 Second selector is when there is tooltip by cursor
 Third selector is during code completion */
.cm .cm-tooltip.cm-tooltip-hover,
.cm .cm-tooltip.mo-cm-tooltip,
.cm .cm-tooltip.cm-completionInfo {
  max-height: 45vh; /* 45% of viewport height */
  overflow: auto;

  /* Respect newlines. */
  white-space: pre-wrap;
  border-radius: 4px;
  padding: 0.625rem 0.875rem;
}

/* Hover tooltips get highest priority in display. */
.cm .cm-tooltip.cm-tooltip-hover {
  z-index: 1000;
}

.mo-cm-tooltip ul {
  white-space: normal;
  display: block;
  list-style-type: disc;
  margin-block: 0 0;
  margin-inline: 0 0;
  padding-inline-start: 40px;
}

.mo-cm-tooltip ol {
  /* provide by the browser, but removed from 'reset' */
  white-space: normal;
  display: block;
  list-style-type: decimal;
  margin-block: 0 0;
  margin-inline: 0 0;
  padding-inline-start: 40px;
}

.mo-cm-tooltip li {
  /* provided by the browser, but removed from 'reset' */
  white-space: normal;
  display: list-item;
  text-align: -webkit-match-parent;
}

.mo-cm-tooltip blockquote {
  display: contents;
  margin-block: 0 0;
  margin-inline: 0 0;
}

.mo-cm-tooltip pre {
  margin: 0;
  white-space: pre-wrap;
}

/* -- Completion Info -- */

.cm .cm-tooltip-autocomplete ul li[aria-selected] {
  background: #1177ccb0;
}

.dark .cm .cm-tooltip-autocomplete ul li[aria-selected] {
  background: #1177cc80;
}

.cm .cm-tooltip.cm-completionInfo {
  /* Codemirror generates an inline style for these properties,
   * so we have to override them with !important. */
  top: 0 !important;
}

/* Completion Info may show up to the left or right of another menu item.
 First is the parent (completion list)
 Second is the child (completion info) */
.cm .cm-tooltip:has(.cm-completionInfo-left),
.cm .cm-tooltip.cm-completionInfo-right {
  border-top-left-radius: 0;
}

.cm .cm-tooltip:has(.cm-completionInfo-right),
.cm .cm-tooltip.cm-completionInfo-left {
  border-top-right-radius: 0;
}

.cm .cm-completionIcon-function::after {
  content: "λ";
}

.cm .cm-completionIcon-class::after {
  content: "τ";
}

.cm .cm-completionIcon-module::after {
  content: "μ";
}

.cm .cm-completionIcon-statement::after {
  content: "χ";
}

.cm .cm-completionIcon-keyword::after {
  content: "κ";
}
