/* Hover actions */

/* Ignore for touch devices */
@media (hover: hover) and (pointer: fine) {
  .hover-action {
    display: none !important;
  }
}

.hover-action:hover {
  display: inline-flex !important;
}

.hover-actions-parent:hover .hover-action {
  display: inline-flex !important;
}

/* If parent has any children that have an open pop, show hover actions */
.hover-actions-parent:has(button[aria-haspopup][data-state="open"])
  .hover-action {
  display: inline-flex !important;
}
