@font-face {
  font-family: "KaTeX_AMS";
  font-style: normal;
  font-display: block;
  font-weight: 400;
  src:
    url("../fonts/KaTeX/KaTeX_AMS-Regular.woff2") format("woff2"),
    url("../fonts/KaTeX/KaTeX_AMS-Regular.woff") format("woff"),
    url("../fonts/KaTeX/KaTeX_AMS-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "KaTeX_Caligraphic";
  font-style: normal;
  font-display: block;
  font-weight: 700;
  src:
    url("../fonts/KaTeX/KaTeX_Caligraphic-Bold.woff2") format("woff2"),
    url("../fonts/KaTeX/KaTeX_Caligraphic-Bold.woff") format("woff"),
    url("../fonts/KaTeX/KaTeX_Caligraphic-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "KaTeX_Caligraphic";
  font-style: normal;
  font-display: block;
  font-weight: 400;
  src:
    url("../fonts/KaTeX/KaTeX_Caligraphic-Regular.woff2") format("woff2"),
    url("../fonts/KaTeX/KaTeX_Caligraphic-Regular.woff") format("woff"),
    url("../fonts/KaTeX/KaTeX_Caligraphic-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "KaTeX_Fraktur";
  font-style: normal;
  font-display: block;
  font-weight: 700;
  src:
    url("../fonts/KaTeX/KaTeX_Fraktur-Bold.woff2") format("woff2"),
    url("../fonts/KaTeX/KaTeX_Fraktur-Bold.woff") format("woff"),
    url("../fonts/KaTeX/KaTeX_Fraktur-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "KaTeX_Fraktur";
  font-style: normal;
  font-display: block;
  font-weight: 400;
  src:
    url("../fonts/KaTeX/KaTeX_Fraktur-Regular.woff2") format("woff2"),
    url("../fonts/KaTeX/KaTeX_Fraktur-Regular.woff") format("woff"),
    url("../fonts/KaTeX/KaTeX_Fraktur-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "KaTeX_Main";
  font-style: normal;
  font-display: block;
  font-weight: 700;
  src:
    url("../fonts/KaTeX/KaTeX_Main-Bold.woff2") format("woff2"),
    url("../fonts/KaTeX/KaTeX_Main-Bold.woff") format("woff"),
    url("../fonts/KaTeX/KaTeX_Main-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "KaTeX_Main";
  font-style: italic;
  font-weight: 700;
  src:
    url("../fonts/KaTeX/KaTeX_Main-BoldItalic.woff2") format("woff2"),
    url("../fonts/KaTeX/KaTeX_Main-BoldItalic.woff") format("woff"),
    url("../fonts/KaTeX/KaTeX_Main-BoldItalic.ttf") format("truetype");
}

@font-face {
  font-family: "KaTeX_Main";
  font-style: italic;
  font-weight: 400;
  src:
    url("../fonts/KaTeX/KaTeX_Main-Italic.woff2") format("woff2"),
    url("../fonts/KaTeX/KaTeX_Main-Italic.woff") format("woff"),
    url("../fonts/KaTeX/KaTeX_Main-Italic.ttf") format("truetype");
}

@font-face {
  font-family: "KaTeX_Main";
  font-style: normal;
  font-display: block;
  font-weight: 400;
  src:
    url("../fonts/KaTeX/KaTeX_Main-Regular.woff2") format("woff2"),
    url("../fonts/KaTeX/KaTeX_Main-Regular.woff") format("woff"),
    url("../fonts/KaTeX/KaTeX_Main-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "KaTeX_Math";
  font-style: italic;
  font-weight: 700;
  src:
    url("../fonts/KaTeX/KaTeX_Math-BoldItalic.woff2") format("woff2"),
    url("../fonts/KaTeX/KaTeX_Math-BoldItalic.woff") format("woff"),
    url("../fonts/KaTeX/KaTeX_Math-BoldItalic.ttf") format("truetype");
}

@font-face {
  font-family: "KaTeX_Math";
  font-style: italic;
  font-weight: 400;
  src:
    url("../fonts/KaTeX/KaTeX_Math-Italic.woff2") format("woff2"),
    url("../fonts/KaTeX/KaTeX_Math-Italic.woff") format("woff"),
    url("../fonts/KaTeX/KaTeX_Math-Italic.ttf") format("truetype");
}

@font-face {
  font-family: "KaTeX_SansSerif";
  font-style: normal;
  font-display: block;
  font-weight: 700;
  src:
    url("../fonts/KaTeX/KaTeX_SansSerif-Bold.woff2") format("woff2"),
    url("../fonts/KaTeX/KaTeX_SansSerif-Bold.woff") format("woff"),
    url("../fonts/KaTeX/KaTeX_SansSerif-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "KaTeX_SansSerif";
  font-style: italic;
  font-weight: 400;
  src:
    url("../fonts/KaTeX/KaTeX_SansSerif-Italic.woff2") format("woff2"),
    url("../fonts/KaTeX/KaTeX_SansSerif-Italic.woff") format("woff"),
    url("../fonts/KaTeX/KaTeX_SansSerif-Italic.ttf") format("truetype");
}

@font-face {
  font-family: "KaTeX_SansSerif";
  font-style: normal;
  font-display: block;
  font-weight: 400;
  src:
    url("../fonts/KaTeX/KaTeX_SansSerif-Regular.woff2") format("woff2"),
    url("../fonts/KaTeX/KaTeX_SansSerif-Regular.woff") format("woff"),
    url("../fonts/KaTeX/KaTeX_SansSerif-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "KaTeX_Script";
  font-style: normal;
  font-display: block;
  font-weight: 400;
  src:
    url("../fonts/KaTeX/KaTeX_Script-Regular.woff2") format("woff2"),
    url("../fonts/KaTeX/KaTeX_Script-Regular.woff") format("woff"),
    url("../fonts/KaTeX/KaTeX_Script-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "KaTeX_Size1";
  font-style: normal;
  font-display: block;
  font-weight: 400;
  src:
    url("../fonts/KaTeX/KaTeX_Size1-Regular.woff2") format("woff2"),
    url("../fonts/KaTeX/KaTeX_Size1-Regular.woff") format("woff"),
    url("../fonts/KaTeX/KaTeX_Size1-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "KaTeX_Size2";
  font-style: normal;
  font-display: block;
  font-weight: 400;
  src:
    url("../fonts/KaTeX/KaTeX_Size2-Regular.woff2") format("woff2"),
    url("../fonts/KaTeX/KaTeX_Size2-Regular.woff") format("woff"),
    url("../fonts/KaTeX/KaTeX_Size2-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "KaTeX_Size3";
  font-style: normal;
  font-display: block;
  font-weight: 400;
  src:
    url("../fonts/KaTeX/KaTeX_Size3-Regular.woff2") format("woff2"),
    url("../fonts/KaTeX/KaTeX_Size3-Regular.woff") format("woff"),
    url("../fonts/KaTeX/KaTeX_Size3-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "KaTeX_Size4";
  font-style: normal;
  font-display: block;
  font-weight: 400;
  src:
    url("../fonts/KaTeX/KaTeX_Size4-Regular.woff2") format("woff2"),
    url("../fonts/KaTeX/KaTeX_Size4-Regular.woff") format("woff"),
    url("../fonts/KaTeX/KaTeX_Size4-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "KaTeX_Typewriter";
  font-style: normal;
  font-display: block;
  font-weight: 400;
  src:
    url("../fonts/KaTeX/KaTeX_Typewriter-Regular.woff2") format("woff2"),
    url("../fonts/KaTeX/KaTeX_Typewriter-Regular.woff") format("woff"),
    url("../fonts/KaTeX/KaTeX_Typewriter-Regular.ttf") format("truetype");
}
