.markdown p,
.markdown .paragraph,
.markdown ol,
.markdown ul,
.markdown span:not(code *, .MuiBox-root) {
  /* the not selector makes sure we don't change katex/LaTeX styles */
  line-height: 1.5rem;
  font-family: var(--text-font);
}

.markdown p:first-child,
.markdown .paragraph:first-child {
  margin-block-start: 0;
}

.markdown p:last-child,
.markdown .paragraph:last-child {
  margin-block-end: 0;
}

.markdown h1,
.markdown h2,
.markdown h3 {
  font-weight: normal;
}

.markdown h1 {
  /* provide by the browser, but removed from 'reset' */
  display: block;
  font-size: 2rem;
  margin-block: 0.67rem 0.67rem;
  margin-inline: 0 0;
  text-align: center;
}

.config-width-full .markdown h1 {
  /* In full-width display, centered headings look odd */
  text-align: start;
}

.markdown h2 {
  /* provide by the browser, but removed from 'reset' */
  display: block;
  font-size: 1.5rem;
  margin-block: 0.83rem 0.83rem;
  margin-inline: 0 0;
}

.markdown h3 {
  /* provide by the browser, but removed from 'reset' */
  display: block;
  font-size: 1.17rem;
  margin-block: 1rem 1rem;
  margin-inline: 0 0;
}

.markdown p,
.markdown .paragraph {
  /* provide by the browser, but removed from 'reset' */
  display: block;
  margin-block: 1rem 1rem;
  margin-inline: 0 0;
}

.markdown ul {
  /* provide by the browser, but removed from 'reset' */
  display: block;
  list-style-type: disc;
  margin-block: 1rem 1rem;
  margin-inline: 0 0;
  padding-inline-start: 40px;
}

.markdown ol {
  /* provide by the browser, but removed from 'reset' */
  display: block;
  list-style-type: decimal;
  margin-block: 1rem 1rem;
  margin-inline: 0 0;
  padding-inline-start: 40px;
}

.markdown li {
  /* provided by the browser, but removed from 'reset' */
  display: list-itrem;
  text-align: -webkit-match-parent;
}

.markdown h1,
.markdown h2,
.markdown h3,
.markdown h4,
.markdown h5,
.markdown h6 {
  font-family: var(--heading-font);
}

.markdown pre {
  /* source code */
  margin: 30px;
  line-height: 1.8rem;
  font-family: var(--monospace-font);
  overflow: auto;
  white-space: pre;
}

.markdown p code,
.markdown .paragraph code,
.markdown pre code,
.markdown li code {
  font-size: 0.875rem;
  scroll-margin:;
}

.markdown sup,
.markdown sub {
  vertical-align: baseline;
  position: relative;
  top: -0.4rem;
}

.markdown sub {
  top: 0.4rem;
}

.markdown a {
  cursor: pointer;

  @apply text-link;
}

.markdown a:hover,
.markdown a:active {
  text-decoration: underline;
}

.markdown a:visited {
  @apply text-link-visited;
}

.markdown blockquote {
  padding: 0 1rem;

  @apply border-l-4;
  @apply text-muted-foreground;
}

.mo-label .markdown p,
.mo-label-block .markdown p,
.mo-label .markdown .paragraph,
.mo-label-block .markdown .paragraph {
  padding: 0;
  margin: 0;
}
