.markdown table,
table.dataframe {
  display: block;
  max-width: 100%;
  overflow: auto;
  scrollbar-width: thin;
}

.markdown table thead,
table.dataframe thead {
  vertical-align: bottom;

  @apply border-input;
}

.markdown table tbody tr:nth-child(odd),
table.dataframe tbody tr:nth-child(odd) {
  background: var(--lime-2);
}

.markdown table tbody tr:nth-child(even),
table.dataframe tbody tr:nth-child(even) {
  @apply bg-card;
}

.markdown table tbody tr:hover,
table.dataframe tbody tr:hover {
  background: var(--yellow-4);
}

.markdown table tr,
.markdown table th,
.markdown table td,
table.dataframe tr,
table.dataframe th,
table.dataframe td {
  text-align: right;
  vertical-align: middle;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  line-height: normal;
  border: none;
}
