table.dataframe {
  border: none;
  border-collapse: collapse;
  border-spacing: 0;
  table-layout: fixed;
  font-size: 0.9375rem;
  display: block;
  max-width: 100%;
  overflow: auto;
}

table.dataframe thead {
  border-bottom: 1px solid;
  vertical-align: bottom;

  @apply border-foreground;
}

table.dataframe tbody tr:nth-child(odd) {
  background: var(--lime-2);
}

table.dataframe tbody tr:nth-child(even) {
  background: hsl(var(--card));
}

table.dataframe tbody tr:hover {
  background: var(--yellow-5);
}

table.dataframe tr,
table.dataframe th,
table.dataframe td {
  text-align: right;
  vertical-align: middle;
  padding: 0.5rem;
  line-height: normal;
  white-space: normal;
  max-width: none;
  border: none;
  font-size: 0.875rem;
}

table.dataframe th {
  font-weight: bold;
}
