.mo-agent-panel {
  /* Make headers a bit smaller */
  --text-2xl: 1rem;
  --text-3xl: 1rem;

  pre {
    width: 100%;
  }

  [data-code-block-container="true"] {
    margin-top: 0 !important;
  }

  [data-code-block-header="true"] {
    padding: 4px !important;
  }

  code {
    font-size: inherit !important;
  }
}
