/* Adjust the max width of the content */
.md-grid {
  max-width: 1440px;
}

/* Custom styling for code blocks */
.highlight {
  background-color: var(--md-code-bg-color);
  border-radius: 4px;
}

/* Custom styling for admonitions */
.admonition {
  border-left-width: 4px !important;
}

/* Custom font sizes for better readability */
.md-typeset {
  font-size: 0.75rem;
  line-height: 1.6;
}

.md-typeset h1 {
  font-size: 2em;
  font-weight: 600;
}

/* Custom styling for tables */
.md-typeset table:not([class]) {
  font-size: 0.75rem;
}

/* Custom styling for navigation */
.md-nav {
  font-size: 0.7rem;
}

/* Custom styling for code annotations */
.md-annotation__index {
  font-family: var(--md-code-font-family);
}

.md-header__topic {
  visibility: hidden;
}

.md-header__button.md-logo {
  margin: 0;
  padding: 0;
  height: 100%;
}

.md-header__button.md-logo img,
.md-header__button.md-logo svg {
  height: 55px;
}

iframe.demo {
  width: 100%;
  height: 250px;
  border: 1px solid var(--md-code-bg-color);
  border-radius: 5px;
}

iframe.demo.medium {
  height: 400px;
}

iframe.demo.large {
  height: 600px;
}

iframe.demo.xlarge {
  height: 900px;
}

iframe.demo.xxlarge {
  height: 1200px;
}

figure img {
  border: 1px solid #ebebeb;
  border-radius: 5px;
}

video {
  border: 1px solid #ebebeb;
  border-radius: 5px;
}

.examples-grid img {
  max-height: 125px;
}
