/* Load Inter from Google Fonts */

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
  --marimo-heading-font: 'Inter', sans-serif;
}

.paragraph {
  font-size: 1.2rem;
  color: light-dark(navy, pink);
}

h1 {
  color: light-dark(red, blue) !important;
}
