@reference "../src/css/globals.css";

.sbdocs-content {
  display: flex;
  gap: 20px;
  flex-direction: column;
}

.sbdocs.sbdocs-wrapper {
  @apply bg-background text-foreground;
}

.sbdocs.sbdocs-wrapper h1 {
  @apply text-foreground !important;
}
