.missing-filename {
  text-align: center;
  box-shadow: var(--light-shadow-stale);
}

.missing-filename:hover,
.missing-filename:focus {
  box-shadow: var(--medium-shadow-stale);
}

.missing-filename:focus {
  border-radius: 4px 4px 0 0;
}

.filename {
  text-align: center;
  box-shadow: none;
}

.filename:hover,
.filename:focus {
  box-shadow: var(--medium-shadow);
}

.filename:focus {
  border-radius: 4px 4px 0 0;
}
