name: Dev Build

on:
  push:
    branches:
      - test/*

jobs:
  build:
    strategy:
      matrix:
        os: [ ubuntu-latest, macos-latest ]
    runs-on: ${{ matrix.os }}
    steps:
     - uses: actions/checkout@v4
     - uses: prefix-dev/setup-pixi@v0.8.3
       with:
         pixi-version: v0.47.0
         cache: true
     - run: pixi run make fe 
     - run: pixi run make py
